<nav class="grey darken-3">
    <div class="class nav-wrapper container">
        <a href="" class="brand-logo center">StoryBooks- Bellaco</a>
        <a href="" data-target='mobile-demo' class="sidenav-trigger show-on-larger"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li ><a href="/stories">Public Stories</a></li>
            <li ><a href="/dashboard">dashboard</a></li>
            <li ><a href="/auth/logout">Log out</a></li>
        </ul>
    </div>
</nav>